# modules/<%= module_name.underscore %>/routes/api.rb

scope 'api/v1' do
  scope '<%= module_name.underscore %>', module: '<%= module_name.underscore %>/http/controllers' do
    # get '', to: '<%= module_name.underscore %>#index'
  end
end